[submodule "Game/libraries/classic"]
	path = Game/libraries/classic
	url = https://github.com/rxi/classic.git
[submodule "Game/libraries/boipushy"]
	path = Game/libraries/boipushy
	url = https://github.com/nyorem/boipushy.git
[submodule "Game/libraries/EnhancedTimer"]
	path = Game/libraries/EnhancedTimer
	url = https://github.com/a327ex/EnhancedTimer.git
[submodule "Game/libraries/Moses"]
	path = Game/libraries/Moses
	url = https://github.com/Yonaba/Moses.git
[submodule "Game/libraries/draft"]
	path = Game/libraries/draft
	url = https://github.com/pelevesque/draft
[submodule "Game/libraries/windfield"]
	path = Game/libraries/windfield
	url = https://github.com/a327ex/windfield
[submodule "Game/libraries/anim8"]
	path = Game/libraries/anim8
	url = https://github.com/kikito/anim8.git
[submodule "Game/libraries/Simple-Tiled-Implementation"]
	path = Game/libraries/Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
